// GLOBAL VARIABLES
$blue: rgb(85, 174, 247);
$lightblue: rgb(184, 223, 255);
$grey: rgb(38, 42, 51);
$lightgrey: rgb(58, 64, 77);
$palegrey: rgb(168, 190, 211);
$gold: rgb(255, 208, 0);
$white: white;


@font-face{
  font-family: norwester;
  src: url('/font/norwester.otf')
}  

// BODY STYLES

* {
  margin: 0;
  // overflow-x: hidden;
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.body {
  overflow-x: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: $white;
}

.navbar {
  position: fixed;
  min-width: 100%;
  height: 1rem;
  color: white;
  background-color: $grey;
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  font-weight: bold;
  // padding: 2rem;
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
  div.logo {
    width: 250px;
    padding-left: 2rem;
    a:any-link {
      font-family: norwester;
      text-transform: uppercase;
      font-size: 25px;
    } 
  }
  &__links {
    float: right;

  }
  a:any-link {
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    font-size: 16px;
    &:hover {
      color: $gold;
      background-color: $lightgrey;
    }
    padding: .5rem 5% .5rem 5%;
  }
}

.sidebar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20vh;
  &__links {
    width: 80%;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    padding-right: 5%;
    vertical-align: center;
    text-align: center;
    font-weight: bolder;
  }
  a:any-link {
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    font-size: 16px;
    &:hover {
      color: $gold;
      background-color: $lightgrey;
    }
    margin-top: 2rem;
    padding: .5rem 5% .5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

main.main {
  height: 100%;
  width: 100%;
  background-color: white;
}

.main {
  color: $palegrey;
  height: 100%;
  display: flex;
  text-overflow: initial;
  white-space: normal;
  word-wrap: break-word;
}

.section {
  padding-top: 8rem;
  width: 100%;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-right: 2rem;
}

.sidebar {
  width: 20vw;
  min-width: 250px;
  height: 100%;
  background-color: $grey;
  border-right: $white 5px solid;
}
// React table styles

.ReactTable {
  .rt-thead, .-header {
    border-radius: 3px;
    padding: .5rem;
    background-color: $lightgrey;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
  }
  .rt-tbody {
    margin: .5rem 0 .5rem 0;
    .rt-tr-group {
      background-color: $lightblue;
      color: $grey;
      // border-top-right-radius: 2rem;
      // border-bottom-left-radius: 2rem;
      margin-top: .2rem;
      margin-bottom: .2rem;
      font-weight: bold;
      font-size: 1.25rem;
      text-align: center;
    }
  }
  .previous, .next, .btn {
    button {
      background-color: $lightblue;
      color: $grey;
    }
  }
  .employee__table {
    .rt-thead, .-header {
      background-color: rgb(98, 101, 107);
      font-size: 1.2rem;
    }
    .rt-tbody {
      .rt-tr-group{
        font-size: 1.1rem;
        background-color: white;
      }
    }
  }
}

.ReactTable.-striped .rt-tr.-odd {
  background: rgba(0, 0, 0, 0.03);
  border: none;
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background-color: $blue;
  // border-radius: 2rem;
  color: $white;
}


// Drop down menu styles 

.dropdown {
  position: absolute;
  button.btn-default {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    background-color: transparent;
  }
  &-menu {
    background-color: $grey;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    li>a {
      font-size: 1.5rem;
      font-weight: bold;
      color: $white;
    }
  }
}
.open>.dropdown-toggle.btn-default {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0;
  &:hover, &:focus, &:active {
    background-color: transparent;
    border-color: transparent;
    border: none;
    padding: 0;
  }
}


// New item modals

.new__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  input {
    width: 100%;
  }
  .address {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .address, .new__name {
    div {
      font-size: 1.5rem;
    }
  }

  select {
    width: 100%;
    color: black;
    padding: 0 0 0 1px;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance : none;
    
  }
 
  input, select {
    border-radius: 0;
    background-color: white;
    border: 1px lightgray solid;
    font-size: 1.25rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding: 3px;
  }
  input[type="submit"] {
    font-weight: bold;
    color: white;
    background-color: $blue;
  }
}


// Add employee module

.assignedEmployees {
  display: flex;
  padding: 1rem;
  width: 92.5%;
  justify-content: space-around;
  align-items: center;
  margin: 1.5%;
  background-color: $blue;
  color: white;
    span {
      width: 10rem;
      vertical-align: middle;
      font-size: 1rem;
    }
}

.form-container {
  display: flex;
  flex-direction: row;

  h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: $lightgrey;
    color: white;
    padding: 1rem;
  }
  form {
    padding: 2rem;
  }
}

.new__form .new__name .errorMsg, .new__form .address .errorMsg  {
  color: red;
  font-size: 12px;
  font-weight: 100;
}

// --- Schedule Employee Modal Styles --- 

.project__details {
  display: flex;
  margin-bottom: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 100%;
  // margin: 2rem;
  box-shadow: .25rem .5rem .1rem $palegrey;
  background: $lightblue;
  color: black;
  padding: 1rem;
  &--info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &--name {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
 
  }
  &--date {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
  &--list {
    border: 1px $blue solid;
    color: white;
    background-color: $grey;
    display: flex;
    justify-content: space-evenly;
    span {
      width: 6rem;
    }
  }
}

.scheduler {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  width: 50%;
  padding: 2rem 0rem 0rem 2rem;
}

.schedulerMap {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 3rem;
}

.addEmployee {
  display: flex;
  flex-direction: column;
  border: 1px lightgray solid;
  width: 100%;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 2.5vh;
    overflow-x: scroll;
    span {
      width: 6rem;
    }
  }
  &__btn {
    background-color: $blue;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
    width: 100%;
    text-transform: uppercase;
    // padding-bottom: 1.5rem;
  }
  &__dates {
    display: flex;
    justify-content: space-between;
    .addEmployee__date {
      input {
        text-align: right;
      }
    }
  }
  &__search {
    display: flex;
    width: 100%;
    // margin-left: 1rem;
    // margin-right: 1rem;
    justify-content: space-between;
  }
  &__heading {
    text-transform: uppercase;
  }
}

.addEmployee__table {
  width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 1rem;
  height: 25%;
  .rt-thead, .-header, .rt-tbody .rt-tr-group {
    font-size: 1rem;
    border-radius: 2px;
    padding: 0;
    margin: 0;
  }
  .rt-thead, .-header {
    background-color: $lightgrey;
  }
  .rt-tbody .rt-tr-group {
    background-color: white;
    color: black;
    &:hover, &:focus, &:active {
      background-color: $gold;
    }
  }
}

// styles for floating button
.client, .employee, .project {
  position: relative;
}

.newItem {
  font-size: 2rem;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
  position: absolute;
  top: .5rem;
  right: 10%;
  &:hover {
    color: $gold;
  }
}

.client {
  .newItem {
    right: 13.5%;
  }
}

.project {
  .newItem {
    top: 4.5rem;
    right: 7.5%;
  }
}

// ---styling for react-calendar--
// sidebar text color
.main {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  
}

.react-calendar-timeline {
  div.rct-sidebar-header {
    background-color: $lightgrey;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .rct-header {
    div.rct-label-group {
      background-color: $lightgrey;
      font-weight: bold;
    }
    div.rct-label {
      background-color: $lightgrey;
      color: white;
      border-color: transparent;
    }
  }
  div.rct-scroll {
    display: flex;
    div.rct-hl-even, div.rct-hl-odd {
      width: 1000px;
    }
  }
} 

.errorMsg {
  color: red;
  padding-left: 2rem;
  padding-top: 2rem;
}

#searchbar {
  background-image: url("/assets/icons/Search.svg");
  background-repeat: no-repeat;
  padding-left: 2.5rem;
}

.project {

  a:any-link{
    color: white;
    .calendar {
      display: inline-block;
      margin-left: 1px;
      background-color: rgb(95, 104, 122);;
      padding: .4rem;
      min-width: 20%;
      text-align: center;
      font-size: 1.5rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      position: relative;
      top: 1.1rem;
    }
    .table {
      display: inline-block;
      margin-left: 1px;
      background-color: $lightgrey;
      padding: .5rem;
      max-width: 20%;
      text-align: center;
      font-size: 1.5rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      position: relative;
      top: 1.15rem;
    }
    .ReactTable {
      margin-top: 0;
    }
  }
}

.schedule {

  a:any-link{
    color: white;
    .calendar {
      display: inline-block;
      background-color: $lightgrey;
      padding: .5rem;
      min-width: 199px;
      text-align: center;
      font-size: 1.5rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      position: relative;
      top: 1rem;
    }
    .table {
      display: inline-block;
      margin-left: 1px;
      background-color: rgb(95, 104, 122);;
      padding: .4rem;
      max-width: 200px;
      text-align: center;
      font-size: 1.5rem;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      position: relative;
      top: .9rem;
    }
  }
}

.map__maker {
    i.fas {
      color:  $gold;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      font-size: 2vw;
    }
}

.project-newItem {
  top: 2.5rem;
}

@mixin dashboard-cards {
  padding: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(213, 233, 255);
  box-shadow: 4px 4px 5px rgb(147, 172, 192);
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // background-color: $white;
  overflow-y: scroll;
  &__top {
    display: flex;
    justify-content: space-between;
  }

  div.bubble {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 1rem;
    a:any-link {
      text-decoration: none;
      color: $grey;
    }
    div {
      justify-content: center;
      align-content: center;
      font-size: 2.5rem;
      font-weight: bold;
    
      &:hover {
        color: $blue;
        // background-color: $lightblue;
      }
    
    }
  }
  &__overview {
    // background-color: rgb(219, 235, 255);
    @include dashboard-cards();
    padding-top: 1rem;
    height: 15vh;
  }
  &__deadlines {
    @include dashboard-cards();
    height: 50vh;
    padding-bottom: 3rem;
    width: 25vw;
    // background-color: rgb(219, 235, 255);
    &--projects {
      height: 100%;
      overflow-y: scroll;
      &--card {
        background-color: white;
        color: $grey;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
    div {
      padding: 1rem;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__charts {
    @include dashboard-cards();
    margin-left: 2rem;
  }

  .donut {
    height: 40vh;
    width: 40vh;
  }

}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 950px) {

}